<form>
    <div class="form-group">
        <label for="platos">Seleccione un plato</label>
        <select name="platos" id="platos" class="form-control" (change)="actualizarPlato($event)">
          <option *ngFor="let pt of platos" [value]="pt.idPlato">{{ pt.nombre }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="bebidas">Seleccione una bebida</label>
        <select name="bebidas" id="bebidas" class="form-control" (change)="actualizarBebida($event)">
          <option *ngFor="let be of bebidas" [value]="be.idBebida">{{ be.nombre }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tipoPedidos">Selecciona un tipo de pedido</label>
        <span *ngFor="let tp of tipoPedidos">
          <input type="radio" name="tipoPedidos" [value]="tp" (change)="actualizarTipoPedido($event)">
        </span>
    </div>
</form>